#func {
    height: 300vh;
    flex-direction: column;
}
    .func_inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        height: 70vh;
        justify-content: space-around;



        .func_desc {
            width: 50%;
            display: flex;
            flex-direction: column;

            .func_title {
                font-size: 1.5rem;
                text-decoration: underline;
                text-underline-position: under;
                margin-bottom: 10px;
            }

            .func_content {
                margin-bottom: 10px;
                font-size: 1.1rem;
                text-align: justify;
            }
        }
        .imagefile{
            margin:10px;
            align-items: center;
            display: flex;
        }
    }
    


@media (max-width: 800px) {
    .func_inner {
        flex-direction: column;
    }

    .func_desc {
        width: 100%;
        text-align: center;
    }

    .imagefile {
        margin: 20px auto;
    }
}
